* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 5px solid #f1e977;
}

/* Variables */
:root {
    /* colors */
    --primaryColor: #00635d;
    --secondaryColor: #5a2c80;
    --tertiaryColor: #335e91;
    --tertiaryShaded: #284B74;
    --tertiaryTint: #EAEEF3;
    --yellow: #f1e977;
    --yellowShaded: #635d00;
    --yellowTint: #fffdd0;
    --gray: #525252;
    --textColor: #000000;
    --white: #ffffff;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    --multiShadow:
        rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px;
    /* Typography */
    --headings-text-size-lg: clamp(2rem, 6vw, 4rem);
    --headings-text-size-md: clamp(1.75rem, 4vw, 3.25rem);
    --headings-text-size-sm: clamp(1.5rem, 3.5vw, 2rem);
    --body-text-size: clamp(1.125rem, 1.5vw, 1.25rem);
    --headings-font: 'Spectral', sans-serif;
    --body-font: 'Karla', sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navHeight, 90px);
}

body {
    padding-top: var(--navHeight, 70px);
}

/* General styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings-font);
    line-height: 1.1;
}

h2 {
    font-size: var(--headings-text-size-md);
    margin-bottom: 2rem;
}

h3 {
    font-size: var(--headings-text-size-sm);
}

p,
span,
ol,
ul,
button {
    font-family: var(--body-font);
    font-size: var(--body-text-size);
    line-height: 1.7;
}

ul,
ol {
    list-style: none;
}

u {
    text-underline-offset: 5px;
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
}

img[alt] {
    font-style: oblique;
}

a {
    text-decoration: none;
    color: var(--textColor);
    transition: all 0.3s ease-in-out;
}

a:active {
    transform: scale(0.95);
}

section {
    height: 100%;
    padding-block: 3rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text Selection Color */
::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    background: #482366;
}

::selection {
    color: #ffffff;
    background: #482366;
}

/* Header */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 1.5rem;
    position: fixed;
    top: 0px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    z-index: 99;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    width: 60px;
    height: 40px;
    height: auto;
    object-fit: contain;
}

.logo>a {
    font-size: var(--headings-text-size-sm);
    font-family: var(--headings-font);
    font-weight: bold;
}

.nav-links {
    /* mobile first menu */
    display: none;
    list-style: none;
    gap: 1.5rem;
    font-size: var(--body-text-size);
    overflow: hidden;
}

nav.mobile .nav-links {
    /* mostra nav-links quando la nav ha la classe 'mobile' iniettata da JS  */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    padding: 1.5rem;
    background-color: var(--white);
    opacity: 1;
    border-bottom: 3px solid var(--textColor);
}

.nav-links li {
    position: relative;
}

.nav-links li::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primaryColor);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    border-radius: 25px;
}

.nav-links li:hover::after {
    transform: scale(1);
}

/* Call to Action */
.cta {
    padding: 0.5rem 1.25rem;
    font-size: var(--body-text-size);
    font-family: var(--body-font);
    font-weight: 600;
    border-radius: 25px;
    text-align: center;
    color: var(--textColor);
}

.cta.navbar {
    display: none;
    background-color: var(--white);
    border: 3px solid var(--primaryColor);
    box-shadow: 0 5px 0 var(--primaryColor);
}

.cta:hover {
    background-color: var(--primaryColor);
    color: var(--white);
    box-shadow: 0 0 0 transparent;
}

.cta:active {
    background-color: var(--primaryShaded);
    color: var(--white);
}

/* hambruger toggle */
.hamburger-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    position: relative;
}

.hamburger-toggle span {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--textColor);
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* hamburger bar quando il menu è chiuso */
.hamburger-toggle span:nth-child(1) {
    top: 0;
}

.hamburger-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-toggle span:nth-child(3) {
    bottom: 0;
}

/* hamburger bar quando il menu è aperto */
nav.mobile .hamburger-toggle span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

nav.mobile .hamburger-toggle span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

nav.mobile .hamburger-toggle span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

/* --- hero section --- */
#hero {
    background-color: var(--primaryColor);
    color: var(--white);
    gap: 2.5rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-container h1,
.text-container p,
.text-container span {
    text-align: center;
}

.text-container h1 {
    font-size: var(--headings-text-size-lg);
}

.text-container .cta.hero {
    background-color: var(--white);
    color: var(--textColor);
    border: 3px solid var(--white);
}

.cta.hero:hover {
    background-color: transparent;
    color: var(--white);
}

.image-container {
    display: flex;
    width: 100%;
    align-items: center;
}

/* --- features section --- */
#features>h2,
#features>h3,
#features>p,
#pricing>h2 {
    text-align: center;
}

#features>h3 {
    margin: 4rem 0 1rem 0;
}

.card h3 {
    border-block-end: 3px solid var(--tertiaryColor);
    padding: 1rem 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 2rem 0;
}

.card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: var(--shadow);
    text-align: center;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 0 var(--tertiaryTint);
    border: 1px solid var(--tertiaryShaded);
}

/* --- testimonial section --- */
#testimonials {
    background-color: var(--yellowTint);
}

#testimonials>h2 {
    margin: 1rem 0;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--textColor);
}

.testimonial-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 0;
    gap: 2.5rem;
}


.quote-icon {
    font-size: 64px;
    height: fit-content;
    text-align: center;
}

.testimonial-card {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 10px 10px 0 var(--yellow);
    background-color: var(--white);
    border-radius: 25px;
    padding: 1rem 1.5rem;
    border: 3px solid var(--yellowShaded);
}

.testimonial-card span,
.testimonial-card p {
    text-align: center;
    margin-bottom: auto;
}

.testimonial-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid var(--yellowShaded);
}


.testimonial-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.testimonial-info>span:nth-child(1) {
    font-size: 20px;
    font-family: var(--headings-font);
    font-style: italic;
}

.testimonial-info>span:nth-child(2) {
    color: var(--gray);
}

/* --- Pricing section --- */
.plan h3 {
    border-block-end: 3px solid var(--white);
    padding: 1rem 0rem;
}

.plan {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    border-radius: 25px;
    gap: 0;
    box-shadow: var(--multiShadow);
    border: 3px solid var(--secondaryColor);
}

.plan>p {
    font-weight: bold;
}

.plan_cost {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 280px;
    background-color: var(--secondaryColor);
    color: var(--white);
    border-radius: 20px 20px 0px 0px;
    flex-direction: column;
    padding: 1.5rem;
}

.payment {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.payment>p {
    font-size: var(--headings-text-size-lg);
    font-weight: bold;
}

.plan_desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 0px 0px 25px 25px;
}

.plan_desc>ul>li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 1rem 0;
}

.plan_desc .cta.purchase,
.reinforcement.cta {
    background-color: var(--white);
    color: var(--textColor);
    border: 3px solid var(--secondaryColor);
    box-shadow: 0 5px 0 var(--secondaryColor);
}

.plan_desc .cta.purchase:hover,
.reinforcement.cta:hover {
    background-color: var(--secondaryColor);
    color: var(--white);
    box-shadow: 0 0 0 transparent;
}

/* --- FAQ section --- */
#FAQ {
    background-color: var(--tertiaryTint);
}

#FAQ>h2 {
    margin-bottom: 0;
}

#FAQ>p {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
}

.accordion-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

/* accordion item */
.faq-item {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

/* accordion title */
.faq-question {
    border: none;
    background-color: var(--white);
    color: var(--tertiaryShaded);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}

.faq-question:hover,
.faq-question.active {
    background-color: var(--tertiaryColor);
    color: var(--white);
}

.faq-question p {
    font-weight: bold;
}

/* arrow icon */
.faq-question .arrow {
    transition: transform 0.3s ease;
}

.faq-question .arrow.rotated {
    transform: rotateX(180deg);
}

/* accordion content */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5px);
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0 1.25rem;
    opacity: 0;
}

.faq-answer.open {
    background-color: var(--white);
    color: var(--gray);
    font-weight: 600;
    padding: 1.25rem;
    max-height: 400px;
    opacity: 1;
}

/* --- final funnel --- */
.final-funnel {
    max-width: 100%;
    margin-top: 6rem;
    margin-inline: 3rem;
    padding: 1.5rem 3rem;
    gap: 1rem;
    border: 3px solid var(--secondaryColor);
    border-radius: 14px;
    box-shadow: var(--multiShadow);
}

.final-funnel>h2 {
    text-align: center;
}

/* --- Footer illustration --- */
.footer-illustration>img {
    aspect-ratio: 16 / 9;
}

/* --- Footer  --- */
footer {
    background-color: var(--primaryColor);
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.links-container>.logo>a,
.footer-links>h4,
.footer-links>li>a,
footer>p {
    color: var(--white)
}

.links-container>.logo {
    margin-top: 3rem;
}

.links-container>.logo>img {
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin-left: 1.5rem;
    margin-right: 0.75rem;
    padding: 0.5rem
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 2rem 0 0 2rem;
}

.footer-links>h4 {
    margin-block: 1rem;
    letter-spacing: 0.04rem;
}

.footer-links>li>a {
    margin-block: 1rem;
    letter-spacing: 0.03rem;
}

footer>p {
    text-align: center;
    margin-top: 2rem;
    padding-block: 1.5rem;
}

/* media queries */

@media (min-width: 768px) {
    section {
        padding-block: 6rem;
        padding-inline: 3rem;
    }

    nav.mobile .nav-links {
        padding-inline: 3rem;
    }

    nav {
        padding: 0.75rem 3rem;
    }

    /* hero section */
    #hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-container h1,
    .text-container p,
    .text-container span {
        text-align: left;
    }

    /* testimonials section */
    .testimonial-info>span:nth-child(1) {
        font-size: 24px;
    }

    /* --- final funnel --- */
    .final-funnel {
        display: none;
    }

    /* footer */
    .links-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {

    /* elimino l'hamburger menu del mobile e resetto lo stato dei link */
    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
    }

    .hamburger-toggle {
        display: none;
    }

    .cta.navbar {
        display: block;
    }

    /* features and pricing section */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    .plan:nth-child(1) {
        grid-column: 1 / span 2;
    }
}